<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Find Repair services at Dagupan City">
    <title>IFOPMS</title>
    <link rel="stylesheet" href="/Styles/main.bundle.css">
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="/Scripts/dashboard.bundle.js"></script>
</body>
</html>